version: 2.1
jobs:
  release:
    docker:
      - image: cimg/node:22.18
    steps:
      - checkout
      - run: npm ci
      - run:
          name: Configure Git
          command: |
            git config --global user.name "CI Bot"
            git config --global user.email "ci-bot@example.com"
      - run:
          name: Release v1 if changed
          command: |
            if git diff --name-only HEAD~1 | grep -q "^v1/"; then
              cd v1
              npx standard-version --release-as patch
              cd ..
            fi
      - run:
          name: Release v2 if changed
          command: |
            if git diff --name-only HEAD~1 | grep -q "^v2/"; then
              cd v2
              npx standard-version
              cd ..
            fi
      - run:
          name: Push release
          command: git push --follow-tags --no-verify
          environment:
            HUSKY: 0
workflows:
  version: 2
  release-workflow:
    jobs:
      - release
